
.container1 {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.reg_section {
  padding:0;
  margin: 0px 0;
 float:left;
      padding-left: 25px;
}
.reg_section h3 {
  font-size: 13px;
  margin: 5px 0;
  color: #fff;
}
/* Form */
.register {
  position: relative;
  margin-top:20px;
  padding: 20px 20px 20px;
  background:rgb(172, 15, 21);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.register:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background:rgba(255, 173, 200, 0.08);
  border-radius:7px;
  -webkit-border-radius: 7px;
}
.register h1 {
  margin: -20px -20px 0;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color:#694551;
  text-align: center;
  border-bottom:1px solid #EDEDED;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px #f5f5f5;
  -moz-box-shadow: 0 1px #f5f5f5;
  box-shadow: 0 1px #f5f5f5;
}

.register input[type=text], .register input[type=mobile], 
.register input[type=address], .register input[type=zipcode], 
.register select,.register textarea {
  width: 350px;
}
.register p.terms {
  float: left;
  line-height: 31px;
}
.register p.terms label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.register p.terms input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.register p.submit {
  text-align: right;
}

.register-help {
  margin: 20px 0;
  font-size: 11px;
  text-align: center;
 
  color:#FFFFFF;
}
.register-help a {
  color:#FF3679;
  text-shadow:0 1px #1E0E13;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family:"Trebuchet MS",tahoma;
  font-size: 14px;
}

input[type=text], input[type=mobile], input[type=address],
input[type=zipcode] ,.register select,.register textarea {
  margin: 5px;
  padding: 0 10px;
  height: 34px;
  color: #404040;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius:3px;
  --webkit-border-radius: 5px;
  outline:3px solid rgba(200, 105, 137, 0.09);
  -moz-outline-radius:7px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  margin:10px 0;
}
input[type=text]:focus, input[type=password]:focus{
  border-color:#FFF7F9;
  outline-color:rgba(254, 225, 235, 0.7);
  outline-offset: 0;
}

input[type=submit] {
padding: 0 10px;
    height: 29px;
    font-size: 15px;
    font-weight: bold;
    color: #2D2B2B;
    text-shadow: 0 1px #F7941E;
    border-width: 1px;
    border-style: solid;
    border-color: #F7941E;
    border-radius: 7px 7px 7px 7px;
    outline: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #F7941E;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AA1E4D), color-stop(100%, #7D0F33));
    background-image: -webkit-linear-gradient(top, #FFDCB3, #F7941E);
    background-image: -moz-linear-gradient(center top , #FFDCB3, #F7941E)
 background-image: -ms-linear-gradient(top, #FFDCB3, #F7941E);
    background-image: -o-linear-gradient(top, #FFDCB3, #F7941E);
    background-image: linear-gradient(top, #FFDCB3, #F7941E);
    -webkit-box-shadow: 0 1px #CD4170 inset, 0 1px 2px #93284C;
    -moz-box-shadow: 0 1px #CD4170 inset, 0 1px 2px #93284C;
    box-shadow: 0 1px #CD4170 inset, 0 1px 2px #93284C;
}
input[type=submit]:active {
  background: #7D0F33;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
.register select {
  padding:6px 10px;
  width: 157px;
  color: #777777;
      font-size: 13px;
}
.register textarea {
  height: 150px;
  padding: 10px;
  color: #404040;
}

/* About */
.about {
  margin:10px auto;
  width: 300px;
  text-align: center;
  color:#EEA5BD;
  font-size: 12px;
}
.about a {
  padding: 1px 3px;
  margin: 0 -1px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.about a:hover {
  color:#2F0916;
  text-shadow: none;
  background: #E83671;
}

.links {
  zoom: 1;
}
.links:before, .links:after {
  content: "";
  display: table;
}
.links:after {
  clear: both;
}
.links a {
  padding: 6px 0;
  float: left;
  width: 50%;
  font-size: 14px;
}
.ct
{
	    width: 50%;
    float: left;
}
#pin{
	margin-left:-7%;
}

/*-------------------------------*/
/*   media query contact page   */
/*-------------------------------*/

@media screen and (max-width: 980px){
	.container1 {
    width: 334px;
    margin-left: auto;
    margin-right: auto;
}

.register input[type="text"], .register input[type="mobile"], .register input[type="address"], .register input[type="zipcode"], .register select, .register textarea {
    width: 256px;
}
.ct {
    width: 51%;
    float: left;
}
.last {
    
    clear: right;
    margin-left: 0%;
    margin: 5% 0% 0% 0%;
}
#detail{
	width: 100%; float: left; margin-top: -18%;
}
}











@media screen and (max-width: 800px){
	.one_half {
    width: 96%;
         }
		 .last {
    margin-right: 0 !important;
    clear: right;
   /*  margin-left: 8%; */
}
#detail {
    width: 100%;
    float: left;
    margin-top: -6%;
}
.container1 {
    width: 392px;
    margin-left: auto;
    margin-right: auto;
}
.register input[type="text"], .register input[type="mobile"], .register input[type="address"], .register input[type="zipcode"], .register select, .register textarea {
    width: 299px;
}
}

@media screen and (max-width: 768px){
	.one_half {
    width: 100%;
         }
		 .last {
    margin-right: 0 !important;
    clear: right;
   /*  margin-left: 7%; */
}
.container1 {
    width: 392px;
    margin-left: auto;
    margin-right: auto;
}
.register input[type="text"], .register input[type="mobile"], .register input[type="address"], .register input[type="zipcode"], .register select, .register textarea {
    width: 299px;
}
}


@media screen and (max-width: 414px) {
    .container1 {
    width: 370px;
    
    margin-left: -19%;
}

.address_info {
    width: 113%;
}

.rm-top-menu a {
    padding: .5rem 5rem;
    font-size: 13px;
    line-height: 1rem;
    text-transform: uppercase;
}


}

@media screen and (max-width: 360px) {
    .container1 {
    width: 278px;
    margin-left: auto;
    margin-right: auto;
}
.register input[type="text"], .register input[type="mobile"], .register input[type="address"], .register input[type="zipcode"], .register select, .register textarea {
    width: 203px;
}
#pin {
    margin-left: -12%;
}
.ct {
    width: 51%;
    float: left;
}
}

@media screen and (max-width: 320px) {
    .container1 {
    width: 278px;
    margin-left: auto;
    margin-right: auto;
}
.register input[type="text"], .register input[type="mobile"], .register input[type="address"], .register input[type="zipcode"], .register select, .register textarea {
    width: 203px;
}
#pin {
    margin-left: -12%;
}
.ct {
    width: 51%;
    float: left;
}
.address_info {
    float: left;
    background-color: #D27910;
    border: 2px solid #BDB4B5;
    padding: 20px 20px 10px 31px;
    width: 91%;
    margin-bottom: 40px;
    color: #fff;
    margin-top: 44px;
    margin-left: 8%;
}
.last {
    margin-right: 0 !important;
    clear: right;
    margin-left: 0%;
}

}








