.rm-nav {
    letter-spacing: 1px;
}

.rm-toggle.rm-button {
    margin-top: 25px;
}

.rm-css-animate.rm-menu-expanded {
    max-height: none;
    display: block;
}
.rm-container.rm-layout-expanded {
    float: right;
}
.rm-nav li a,
.rm-top-menu a {
    padding: .75rem 0rem;
    font-size: 13px;
    line-height: 1.8em !important;
    text-transform: uppercase;
}
.client-menu ul li a{
	line-height:1.8em !important;
}
.contact-dropdown{
	   padding: 20px 0;
}

.rm-layout-expanded .rm-nav > ul > li > a,
.rm-layout-expanded .rm-top-menu > .rm-menu-item > a {
      height: 55px;
    line-height: 55px;
}

.main {
    background-image: url("../images/cloud.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    min-height: 100%;
    padding-top: 1px;
}
.tagline {
    width: 360px;
    font-size: 1.75em;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.2;
    text-align: center;
    margin: 275px auto;
    color: #1A88D3;
}
.tagline strong {
    font-size: 1.3em;
}
.dev-output {
    background-color: #e1eaf3; /* fall-back */
    background-color: rgba(255,255,255,.85);
    color: #000;
    padding: 2em;
    margin-bottom: 2em;
}
#about-vastu ul li  a{
	line-height:2.3em !important;
}

#our-service ul li a{
	line-height:2.3em !important;
}
/*-------------------------------*/
/*   media query menu   */
/*-------------------------------*/

















@media screen and (max-width: 768px) {
	.rm-nav li a, .rm-top-menu a {
       padding: .75rem 6rem;
       font-size: 13px;
       line-height: 1rem;
       text-transform: uppercase;
}
}

@media screen and (max-width: 414px)
{
	.rm-top-menu a {
    padding: .75rem 6rem;
    font-size: 13px;
    line-height: 1rem;
    text-transform: uppercase;
}

#energ-parallax {
    height: 837px;
     /* width: 103%;*/
    background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5)), url( ../images/parallax-energy.png);
    background: url(../images/parallax-energy.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
}



@media screen and (max-width: 360px) {
	.rm-nav li a, .rm-top-menu a {
    padding: .75rem 4rem;
    font-size: 13px;
    line-height: 1rem;
    text-transform: uppercase;
}
.slider_bottom_area .col-sm-3{
	margin-bottom:15%;
}
.tabs3.two li a {
     margin: 2px 2px 0;
    padding: 0 60px;
    width: 100%;
}
.tabs-content3 {
    float: left;
    width: 100%;
    padding: 2% 4% 2% 4%;
    text-align: left;
    margin-bottom: 0px;
    margin-top: -1px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    position: relative;
    z-index: 3;
}
}
@media screen and (max-width: 320px) {
	.rm-nav li a, .rm-top-menu a {
    padding: .75rem 4rem;
    font-size: 13px;
    line-height: 1rem;
    text-transform: uppercase;
}
.slider_bottom_area .col-sm-3{
	margin-bottom:15%;
}
.table-style {
    float: left;
    width: 100%;
}
.table-list {
    float: left;
    background-color: #fff;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    width: 100%;
}

h2.section_title_drakgray {
    color: #ff471a;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.one_full {
    width: 100%;
   /*  margin-top: -15%; */
}
.tabs3.two li a {
    padding: 0px 83px;
    margin: 2px 2px 0px 12px;
}
.tabs-content3 {
    float: left;
    width: 100%;
    padding: 2% 4% 2% 4%;
    text-align: left;
    margin-bottom: 0px;
    margin-top: -1px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    position: relative;
    z-index: 3;
}
#5elements{
	display: block;
max-width: 93%;
height: auto;
}
}














